body {

    background: url(../images/stylus.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}
.container {
    border-radius: 20px;
    border: 3px solid;
    border-color: rgb(22, 33, 43);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.873);
    color: whitesmoke;
    transition:0.3s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

.rotate {
    perspective: 800px;
    transition: 1s ease-in-out;
    transform: rotateZ(0deg);
    padding-bottom: 50px;
    width: 0px;
    height: 0px;
    font-size: larger;
}
.rotate:hover {
    transform: rotateZ(360deg) scale(1.8);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.container2 {
    border-radius: 20px;
    border: 3px solid;
    border-color: rgb(22, 33, 43);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.873);
    color: whitesmoke;
    margin-top:35px ;
    transition:0.3s ease-in-out;
}

.container3 {
    border-radius: 20px;
    border: 3px solid;
    border-color: rgb(22, 33, 43);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.873);
    color: whitesmoke;
    margin-top:35px ;
    transition:0.3s ease-in-out;
}



.container:hover {
    transform:translateY(-2px) scale(1.08);
    box-shadow: 0px 8px 15px rgb(49, 247, 118);
}
.container2:hover {
    transform:translateY(-2px) scale(1.08);
    box-shadow: 0px 8px 15px rgb(49, 247, 118);

}
.container3:hover {
    transform:translateY(-2px) scale(1.08);
    box-shadow: 0px 8px 15px rgb(49, 247, 118);

}








