body {
    background-color: #f0e68c; 
    font-family: 'Comic Sans MS', sans-serif; 
    margin: 1em;
    background-image: url(../images/foháttét.png);
    background-size: cover;
}

details {
    display:grid;
    height: 300px;
    width: 200px;
    background-color: #0000009c; 
    border: 5px solid #0c9effaa; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(253, 253, 255, 0.1); 
    cursor: pointer;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

details:hover {
    transform: scale(1.5) ;
}

summary {
    display: flex;
    justify-content: flex-start;
    font-family: 'Nosifier';
    font-size: 1.5em;
    color: #f4f4f4;
    outline: none;
    list-style: none; 
}

summary::-webkit-details-marker {
    display: none; 
}


.container {
    display: flex;
    gap: 250px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.ikon {
    font-size: 24px;
    text-decoration: none;
    color: black;
    justify-self: start;
}
p,li {
    color: white;
}
a {
    color: lightblue;
}