body {
    background-color: #f0e68c; 
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    color: #3d2b1f; 
    margin: 1em;
    background-image: url(../images/fidesz.png);
    background-size: cover;
}

details {
    display:grid;
    height: 300px;
    width: 200px;
    background-color: #f7f7f7; 
    border-left: 5px solid #ba0cff71; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(253, 253, 255, 0.1); 
    cursor: pointer;
    justify-content: center;
}

summary {
    display: flex;
    justify-content: flex-start;
    font-family: 'Nosifier', cursive;
    font-size: 1.5em;
    color: #003366;
    outline: none;
    list-style: none; 
}

summary::-webkit-details-marker {
    display: none; 
}


.container {
    display: flex;
    gap: 250px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
}

h1 {
    text-align: center;
}