body {
    background-color: #f0e68c; 
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    color: #3d2b1f; 
    margin: 1;
    background-image:url(../images/császár_háttér.png);
}

header {
    background-color: #cce0ff; 
    border-left: 5px solid #3399ff; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 128, 0.1); 
    opacity: 0.8;
}
.nagyobb{
    font-size: 22px;
background-color: rgba(240, 230, 140, 0.5);
    border-radius: 8px;
}

.header {
    width: 100%;
    margin-bottom: 20px;
}

h1, h2 {
    color: #003366; 
    margin: 0; 
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.cards {
background-color: rgba(255, 250, 205, 0.5);
    border: 2px solid #ebd218;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 0px #dfa520;
    text-align: center;
    height: 300px;
    width: 400px;
    margin-bottom: 6px;
    flex-shrink: 0;
}

.box {
    transition: transform 0.3s;
}

.box:hover {
  transform: scale(1.03);    
}

.ikon {
    font-size: 27px;
    text-decoration: none;
    justify-self: start;
}
